{% extends "base.html.twig" %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset ('styles/cinema.style.css')}}">
{% endblock %}

{% block title %}Adaptation cinéma{% endblock %}

{% block body %}

	<div class="fondNoir">
		{% include "components/ResponsiveNav.html.twig" %}

		<div class="container-fluid">
			<div class="row">
				<h2>Adaptation-Cinéma</h2>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					{% include "components/sidebar.html.twig" %}
				</div>

				<div class="col-md-9">
					<div class="container-fluid">
						<div class="row">
							<div class="mx-auto col-8 col-sm-6 col-md-6 col-lg-5 mb-5">
								<div class="titleImg">
									<p>Titre de l'image</p>
								</div>
								<div class="contenusPhoto">
									<div class="row">								
										<img class="mx-auto mt-4" src="{{ asset ("medias/couverture_de_lapin.jpg")}}" height="300">
									</div>
								</div>
								<div class="row justify-content-center mt-4">
									<button>Voir l'article</button>
								</div>
							</div>
							
							<div class="mx-auto col-8 col-sm-6 col-lg-5 col-md-6 mb-5 mx-auto">
								<div class="titleImg">
									<p>Titre de l'image</p>	
								</div>
								<div class="contenusPhoto">
									<div class="row">
										<img class="mt-4 mx-auto" src="{{ asset ("medias/lapin-2.jpg")}}" height="300">
									</div>
								</div>
								<div class="row justify-content-center mt-4">
									<button>Voir l'article</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
