<nav class="upc navBar">
    <div class="container-fluid">
        <div class="row text-center text-nowrap">
            <div class="col-4 marge"> 
                <a href="{{ path('home')}}">Page d'accueil</a>
            </div>
            <div class="col-4 marge">
                <a href="{{ path('logout')}}">Se déconnecter</a>
            </div>
            <div class="col-4 marge">
                <a href="{{ asset("./dashboard/create_article")}}">Créer un article</a>
            </div>
        </div>
    </div>
</nav>