<nav class="nav flex-column p-3 upc sticky-top">
    <div class="sidebar-admin">
        <div class="container text-center">
            <nav class="nav flex-column p-3 upc sticky-top">
                <a href="{{ asset('/dashboard') }}" class="mb-2 mt-4" >Home</a>
                <a href="{{ asset("./dashboard/create_article") }}" class="mb-2 mt-4">Créer un article</a>
                <a href="#" class="mb-2 mt-4">Se déconnecter</a>
            </nav>
        </div>
    </div>
</nav>