<div class="sideBar">
    <nav class="nav flex-column p-3 upc text-center">
        <a href="{{ path('home') }}" class="mb-2 mt-4" >Page d'accueil</a>
        <a href="{{ path('logout') }}" class="mb-2 mt-4">Se déconnecter</a>
        <a href="{{ asset("./dashboard/create_article") }}" class="mb-2 mt-4">Créer un article</a>
    </nav>
</div>