{% extends "base.html.twig" %}

{% block body %}

<h1>Test contenu dynamique</h1>

<a class="btn btn-info" href="{{ path('create_category') }}">Create category</a class="btn btn-info">



{% endblock %}