.fondNoir{
    background-image: url("../../images/BlackBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h2{
    font-size:36px;
    background-color:#63B2CF;
    height:70px;
    width:400px;
    border-radius:10px 10px 10px 10px;
    padding-top:5px;
    text-align:center;
    margin-top:30px;
    margin-bottom:50px;
    margin-left: auto;
    margin-right: auto;
}


/* CONTENU PAGE */
.titleImg{
    border:2px solid black;
    border-radius: 10px;
    text-align:center;
    background-color:white;
    font-weight: bold;
    height:50px;
}

.titleImg p{
    margin:10px auto;
}

.contenusPhoto{
    background-color: #d3d3d3;
    border-radius: 10px;
    height:350px;
}

.contenusPhoto p{
    margin:10px auto;
}

button{
    background: linear-gradient(#9cd3ff, #53b2ff);
    outline:none;
    font-size:23px;
    border-radius:10px;
}

.carte{
    opacity:0;
    position: relative;
    right: 300px;
}

video{
    margin: auto;
}



@media screen and (max-width: 768px){

    h2{
        width:100%;
    }

}