.title{
    text-align: center;
    color:#007FFF;
    font-size:48px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.form{
    margin: 0 auto;
    text-align: center;
}

.card{
    margin: 0 auto;
    opacity: 0;
}


 
