body{
    font-family: 'Quicksand', sans-serif;
}

.upc{
    text-transform: uppercase;
}

a{
    color: white;
}

a:hover{
    color: lightgrey;
}

.nav {
    background-color: #5393b7;
    min-height: 100vh;
}

#imageModifier {
    width: 35px;
    height: 35px;
}
#imageSupprimer{
    width: 35px;
    height: 35px;
}

.sideBar{
    width:200px;
}

.navBar{
    background-color: #5393b7;
    height:100px;
}


nav a:hover{
    text-decoration: none;
}

.marge{
    margin-top:32px;
}


@media (max-width: 768px){

    .sideBar{
        display:none;
    }

    .contenuArticle{
        padding-right:0px;
    }

}

@media (min-width: 768px){

    .contenuArticle{
        padding-left:0; 
        margin-left:-30px;
    }

    .navBar{
        display:none;
    }

}

@media (max-width: 576px){

    .navBar{
        font-size:15px;
    }

}


/* Creation article */
.contenuForm{
    background-color: #5392b78a;
}