body{
    font-family: 'Quicksand', sans-serif;
}

.upc{
    text-transform: uppercase;
}

a{
    color: white;
}

a:hover{
    color: lightgrey;
}

.nav {
    background-color: #5393b7;
    min-height: 100vh;
}

#imageModifier {
    width: 35px;
    height: 35px;
}
#imageSupprimer{
    width: 35px;
    height: 35px;
}

.sideBar{
    width:200px;
}

.navBar{
    background-color: #5393b7;
    height:100px;
}


nav a:hover{
    text-decoration: none;
}

.marge{
    margin-top:32px;
}

.table{
    width:100%;
}


/* Format MD à XL */
@media (min-width: 768px){

    .contenuArticle{
        margin-left:-30px;
    }

    .navBar{
        display:none;
    }

}

/* Format XS à SM */
@media (max-width: 767px){

    .sideBar{
        display:none;
    }

    .contenuArticle{
        padding-right:0px;
    }

    .navBar{
        font-size:12px;
    }

}


/* Dashboard Creation article */
.contenuForm{
    background-color: #5392b78a;
}