.contenu{
    height:400px;
    width:65%;
    margin:0 auto;
}

.carousel-control-next-icon{
    background-color:rgba(0, 0, 0, 0.700);
}

.carousel-control-prev-icon{
    background-color:rgba(0, 0, 0, 0.700);
}


/* Effet précédent/suivant */
.carousel-control-prev:hover{
    background: linear-gradient(to left, rgba(99, 178, 207, 0.700), rgba(0, 128, 255, 0.700));
    transition-duration: 1.5s;
}

.carousel-control-next:hover{
    background: linear-gradient(to right, rgba(99, 178, 207, 0.700), rgba(0, 128, 255, 0.700));
    transition-duration: 1.5s;
}
