body{
    background-color:rgba(212, 245, 255);
    font-family: 'Merriweather', serif;
}

.fondBlanc{
    width:100%;
    background-color:white;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 2px solid #63B2CF;
}

.contenuSidebar{
    height:300px;
    width:55%;
    margin:0 auto;
    background-color:white;
}

.carousel-control-next-icon{
    background-color:rgba(0, 0, 0, 0.700);
}

.carousel-control-prev-icon{
    background-color:rgba(0, 0, 0, 0.700);
}


/* Effet précédent/suivant */
.carousel-control-prev:hover{
    background: linear-gradient(to left, rgba(99, 178, 207, 0.700), rgba(0, 128, 255, 0.700));
    transition-duration: 1.5s;
}

.carousel-control-next:hover{
    background: linear-gradient(to right, rgba(99, 178, 207, 0.700), rgba(0, 128, 255, 0.700));
    transition-duration: 1.5s;
}

/* CONTENU BODY */
.contentText{
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    opacity:0;
    position: relative;
    left: 300px;
}

.contentText h1{
    font-size:25px;
    font-weight: bold;
    text-align:center;
    background-color:#63B2CF;
    border-radius: 15px 15px 15px 15px;
    width:70%;
    height:60px;
    margin:0 auto;
    color:white;
    padding-top:15px;
}

.contentText p{
    line-height:40px;
}

.contentRea{
    border:1px solid black;
    border-radius: 15px 15px 15px 15px;
    width:60%;
    opacity:0;
    position: relative;
    right: 300px;
}

.contentRea h1{
    font-size:25px;
    font-weight: bold;
    text-align:center;
    background-color:#63B2CF;
    border-radius: 15px 15px 15px 15px;
    width:80%;
    height:60px;
    margin:0 auto;
    color:white;
    padding-top:15px;
}

/* CONTENU CONTACTEZ MOI */
.colorForm{
    background-color:#EDFBFF;
}

.contact{
    background-color:#63B2CF;
    height:60px;
    padding-top:10px;
    opacity:0;
    position: relative;
    right: 300px;
}

.deco{
    position:absolute;
    width:0;
    height:448px;
    border-right:380px solid transparent;
    border-top:448px solid rgba(212, 245, 255);
}
 
.deco2{
    position:absolute;
    right:0;
    width:0;
    border-left:380px solid transparent;
    border-bottom:448px solid rgba(212, 245, 255);
}

.contact h1{
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:25px;
}

.form{
    opacity:0;
    position: relative;
    top: 100px;
}
