body{
    background:linear-gradient(rgb(158, 232, 255) 50%, rgba(185, 239, 255, 0));
}

h2{
    text-align:center;
    color:#007FFF;
    font-size:45px;
    margin-top:20px;
    margin-bottom:20px;
}

.form{
    background-color: rgb(212, 245, 255);
    border: 2px solid #63B2CF;
    border-radius: 10px 10px 10px 10px;
    text-align:center;
    height:350px;
}




