h1{
    text-align: center;
    color:#007FFF;
    font-size:48px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.form{
    margin-top: 100px;
    margin: auto;
    background-color: rgb(215, 242, 252);
    border: 2px solid #63B2CF;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 50%;
    height: 50%;
}

.form *{
    margin: auto;
    text-align: center;
}

body{
    background-color: #EDFBFF;
}


