.contentNav{
    font-family: 'Merriweather', serif;
}

.pageNavActive{
    background-color:black;
}

.pageNav{
    color:white;
}

.pageNav:hover{
    background:linear-gradient(black, rgba(0, 0, 0, 0.089));
}

.navbar{
    background: linear-gradient(rgb(156, 211, 255), rgb(83, 178, 255));
}


/* RESPONSIVE MD */
@media (min-width:768px){

    .contentNav{
        display:none;
    }

}