
/*body{
    font-family: 'Merriweather', serif;
}*/
/*
.sidebar-admin {
    background-color: #6f94d7;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 2px 2px 2px silver;
    color: bisque;
    font-size: 1.5em;
}*/
