{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ("styles/home.style.css")}}">
{% endblock %}

{% block body %}

    <h2>(Page home)</h2>

{% endblock %}