<footer class="pt-3">
    <a class="logo" href=""><img width="100" src="{{ asset ("images/linkedin.png")}}"></a>
    <a class="logo" href=""><img width="50" src="{{ asset ("images/facebook.png")}}"></a>
    <a class="logo" href=""><img width="65" src="{{ asset ("images/twitter.png")}}"></a>
</footer>