<div class="contentSidebar">
    <div class="sidebarTop p-2">
        <p>Mes réalisations</p>
    </div>
    <div class="sidebarElement">
        <p>Adaptation cinéma</p>
        <div class="dropdown-divider">
            <p>Bande dessinée</p>
        </div>
        <p>Photo cinéma</p>
        <div class="dropdown-divider">
            <p>Ecrits</p>
        </diV>
        <p>Enseignement</p>
        <p>Livres-Objets</p>
        <p>Mise-en-scène</p>
        <p>Sculptures</p>
        <p>Théatre</p>
        <p>Peintures</p>
    </div>
</div>