<div class="contentSidebar">
    <div class="sidebarTop p-1">
        <p>Mes réalisations</p>
    </div>
    <div class="sidebarElement pt-1">
        <span>Adaptation cinéma</span>
        <div class="dropdown-divider"></div>
        <span>Bande dessinée</span>
        <div class="dropdown-divider"></div>
        <span>Photo cinéma</span>
        <div class="dropdown-divider"></div>
        <span>Ecrits</span>
        <div class="dropdown-divider"></div>
        <span>Enseignement</span>
        <div class="dropdown-divider"></div>
        <span>Livres-Objets</span>
        <div class="dropdown-divider"></div>
        <span>Mise-en-scène</span>
        <div class="dropdown-divider"></div>
        <span>Sculptures</span>
        <div class="dropdown-divider"></div>
        <span>Théatre</span>
        <div class="dropdown-divider"></div>
        <span>Peintures</span>
    </div>
    <div class="sidebarBottom p-1">
        <i class="fas fa-arrow-alt-circle-up fa-2x"></i>
    </div>
</div>